@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format(opentype);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #FFE3B5;
}
header{
    background: linear-gradient(to bottom, rgb(14, 133, 14), rgba(0, 0, 0, 0.87));
}
header > h1{
    text-align: center;
    font-family: 'anton';
    color: rgba(255, 255, 255, 0.884);
    text-shadow: 1px 1px 3px black;
    padding-top: 10px;
    font-size: 2.5em;
}
header > p{
    text-align: center;
    color:  rgba(255, 255, 255, 0.884);
    text-shadow: 1px 1px 3px black;
    padding-top: 30px;
}
nav{
    margin-top: 25px;
}
nav > a{
    display: inline-block;
    color:rgb(184, 221, 187);
    text-decoration: none;
    padding: 8px;
    padding-right: 10px;
    margin-left: 8px;
    font-weight: bolder;
}
nav > a:hover{
    background-color: rgba(51, 155, 94, 0.822);
    color: rgb(3, 54, 3);
    padding: 8px;
    padding-right: 10px;
    font-weight: bolder;
    border-radius: 5px;
    transition: all 0.5s;
}
main{
    background-color: white;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding-bottom: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}
article > h2{
    font-family: android;
    padding-top: 20px;
    padding-left: 20px;
}
h2.primeira{
    background: linear-gradient(to right, rgba(13, 202, 13, 0.589), white);
    color: rgb(3, 54, 3);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    margin-top: 15px;
    margin-left: 20px ;
}
h2.segunda{
    background: linear-gradient(to right, rgba(13, 202, 13, 0.589), white);
    color: rgb(3, 54, 3);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    margin-top: 20px;
    margin-left: 20px;
}
article > p{
    text-indent: 40px;
    text-align: justify;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.paragrafo{
    padding-bottom: 20px;
}
.robos > img{
    width: 100%;
}
.irina > img{
    width: 100%;
}
.bugdroid > img{
    display: block;
    width: 50%;
    margin: auto;
}
section{
    background-color: rgb(3, 43, 3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 35px;
 }
div{
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
}
div > iframe{
    position: absolute;
    width: 100%;
    height: 100%;

}
article > h3{
    background-color: rgb(28, 92, 28);
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 2px black;
}
aside{
    background-color: rgba(86, 219, 86, 0.473);
    margin-left: 15px;
    margin-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.637);
}
aside > p{
    text-indent: 40px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    line-height: 30px;
}
aside > ul{
    padding-left: 25px;
    padding-top: 15px;
    list-style: "\2714";
    columns: 2;
}
aside > ul > li{
    padding-left: 8px;
}
footer{
    margin-top: 30px;
}
footer > p{
    background-color: rgb(16, 54, 16);
    color: white;
    text-align: center;
    padding: 7px;
}

/* Detalhes adicionais */

span{
    font-weight: bolder;
    color: rgb(8, 87, 8);
}
a.links{
    background-color: rgba(57, 211, 108, 0.678);
    color: rgb(8, 87, 8);
    padding: 3px 5px;
    text-decoration: none;
    font-weight: bolder;
}
a.semfundo{
    color: rgb(8, 87, 8);
    padding: 3px 5px;
    text-decoration: none;
    font-weight: bolder;
}
p.parag{
    padding-bottom: 20px;
}
a.links:hover, a.semfundo:hover{
    text-decoration: underline;
}
a.links::after, a.semfundo::after{
    content: "\1F9F7";
}



